:root {
    --card-bg: var(--color-secondary);
}

@media (prefers-color-scheme: light) {
    :root {
        --card-bg: #ffffff;
    }
}

.projects-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 5%;
    width: 100%;
}

.page-title {
    font-family: var(--font-heading);
    font-size: 2rem;
    color: var(--color-text-main);
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
}

/* title */
.page-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 60px;
    height: 4px;
    background-color: var(--color-accent);
    border-radius: 2px;
}

/* --- grid --- */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

/* --- card style --- */
.project-card {
    background-color: var(--card-bg);
    padding: 2rem 1.75rem;
    border-radius: 8px; /* 圆角 */
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    box-shadow: 0 10px 30px -15px var(--shadow);

    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-card:hover {
    transform: translateY(-7px);
    box-shadow: 0 20px 30px -15px var(--shadow);
}

/* --- icon and link --- */
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.folder-icon {
    width: 40px;
    height: 40px;
    color: var(--color-accent);
}

.card-links {
    display: flex;
    gap: 20px;
}

.card-links a svg {
    width: 20px;
    height: 20px;
    color: var(--color-text-dim);
    transition: color 0.3s ease;
}

.card-links a:hover svg {
    color: var(--color-accent);
}

/* --- card --- */
.project-title {
    font-family: var(--font-heading);
    color: var(--color-text-main);
    font-size: 1.4rem;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.project-card:hover .project-title {
    color: var(--color-accent);
}

.project-desc {
    color: var(--color-text-dim);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    flex-grow: 1;
}

/* --- tech stack list --- */
.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin-top: auto;
}

.project-tech-list li {
    font-family: var(--font-body);
    font-size: 0.8rem;
    color: var(--color-text-dim);
}